<%- include('../partials/auth/header'); %>
<div class="card bg-secondary shadow border-0">
    <div class="card-body px-lg-5 py-lg-5 row">

        <div class="col-8">
            <form role="form" method="POST" action="/users/login">
                <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input class="form-control "
                               placeholder="البريد الإلكتروني"
                               name="email"
                               type="email">
                    </div>
                </div>

                <div class="form-group ">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        <input class="form-control"
                               placeholder="كلمة المرور"
                               name="password"
                               type="password">
                    </div>
                </div>

                <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input"
                           id="remember"
                           name="remember"
                           type="checkbox">
                    <label class="custom-control-label" for="remember">
                        <span class="text-muted">تذكرني</span>
                    </label>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary my-4">
                        تسجيل دخول
                    </button>
                </div>
            </form>
        </div>

        <div class="col-4 d-flex flex-column h-full flex-1 border-right">
            <p class="title text-muted text-center flex-1 mb-7">مرحبا مجددا</p>
                <img src="svg/hello.svg" height="100px" alt="">
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <a href="/password/reset" class="text-light">
            <small>
                نسيت كلمة المرور
            </small>
        </a>
    </div>
    <div class="col-6 text-right">
        <a href="/register" class="text-light">
            <small>انشاء حساب جديد</small>
        </a>
    </div>
</div>

<%- include('../partials/auth/footer'); %>