<%- include('../partials/auth/header'); %>
    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <form role="form" method="POST" action="/users">


                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        <input class="form-control"
                                               placeholder="اسم المستخدم"
                                               value=""
                                               type="text"
                                               name="name">
                                    </div>

                                </div>
                                <div class="form-group ">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control"
                                               name="email"
                                               value=""
                                               placeholder="البريد الإلكتروني"
                                               id="email"
                                               type="email">
                                    </div>
            
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control"
                                               placeholder="كلمة المرور" name="password" type="password">
                                    </div>
                
                                </div>

                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input id="password-confirm" type="password" class="form-control"
                                               placeholder="تأكيد كلمة المرور"
                                               name="password_confirmation" required>
                                    </div>
                                </div>

                                <div class="text-muted font-italic">
                                    <small>قوة كلمة المرور: <span
                                                class="text-success font-weight-700">قوية</span></small>
                                </div>
                                <div class="row my-4">
                                    <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                            <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                                            <label class="custom-control-label" for="customCheckRegister">
                                                <span class="text-muted">اوافق علي<a
                                                            href="#!">السياسات والخصوصية</a></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" type="button"
                                            class="btn btn-primary mt-4">تسجيل</button>
                                </div>
                            </form>
                        </div>
    </div>

<%- include('../partials/auth/footer'); %>