<header class="header-section">
    <div class="ad">

    </div>
    <div class="min-container">
        <nav class="navbar navbar-dark px-2">
            <strong class="logo">
                <a class="navbar-brand text-white" href="/">
                    <img src="/images/azonto.jpeg" alt="">
                </a>
            </strong>

            <form class="form-inline my-2 my-lg-0"
                  method="GET"
                  action="/videos/search">
                <input class="form-control search-control"
                       name="title"
                       type="search"
                       placeholder="Search"
                       aria-label="Search">
            </form>

        </nav>
    </div>
</header>