<%- include('./partials/header') %>
<div id="app" class="min-container">
    <div class="">
        <submit-view inline-template>
            <main id="main" role="main">
                <div class="promo-image"></div>
                <br>
                <section>
                    <header class="heading">
                        <h1>Thank
                            <mark>you</mark>
                        </h1>
                    </header>
                    <section class="section">
                        <div class="text-holder">
                            <h2>Video Submission</h2>
                            <p>Thank you for submiting your video to our website. To ensure proper submission, please
                                include in your submission the title, description, and the video URL. (Upload video to
                                <a
                                        href="https://wetransfer.com" target="_blank">wetransfer.com</a> or <a
                                        href="https://sendspace.com" target="_blank">sendspace.com</a>). All video
                                submissions will get proper credit if accepted.</p>
                            <p>By submitting your video, you are representing to Worldstar Hip Hop that you have all
                                necessary rights in the video to authorize our use and reuse of the audio and visual
                                material it contains, that your submission of the video is governed by our <a
                                        href="agree.php">On Line Video Submission Agreement</a>, and that you have read,
                                understood and agreed to the terms and conditions of that Agreement.</p>
                        </div>
                    </section>
                </section>
            </main>
        </submit-view>
    </div>

<%- include('./partials/footer-section') %>