<%- include('./partials/header') %>
<div id="app" class="min-container">
    <div class="">
        <main id="main" role="main">
            <div class="promo-image"></div>
            <br>
            <section>
                <header class="heading">
                    <h1>Privacy
                    </h1>
                </header>
                <section class="section">
                    <div class="text-holder"></div>

                </section>
            </section>
        </main>
    </div>

<%- include('./partials/footer-section') %>