<%- include('./partials/header') %>
<div id="app" class="min-container">
    <div class="">
        <submit-view inline-template>
            <main id="main" role="main">
                <div class="promo-image"></div>
                <br>
                <section>
                    <header class="heading">
                        <h1>Thank
                            <mark>you</mark>
                        </h1>
                    </header>
                    <section class="section">
                        <div class="text-holder">
                            <h2>Video Submission</h2>
                            <p>Thank you for submiting your video to our website. To ensure proper submission, please
                                include in your submission proper data . (Upload video to
                                <a
                                        href="https://youtube.com" target="_blank">youtube.com</a>). All video
                                submissions will get proper credit if accepted.</p>
                            <p>By submitting your video, you are representing to Azonto that you have all
                                necessary rights in the video to authorize our use and reuse of the audio and visual
                                material it contains.</p>
                            <p class="text-center">
                                <a href="/">see our last videos</a>
                            </p>
                        </div>
                    </section>
                </section>
            </main>
        </submit-view>
    </div>

<%- include('./partials/footer-section') %>