#slot1{
  height: 100%;
  z-index: -1;
  width: 100%;
  max-width: 200px;
  position: fixed;
}
#slot2{
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  width: 100%;
  max-width: 200px;
  position: fixed;
}