.contact-form {
  border-top: 1px solid #e0e0e0;
  padding: 25px 0 0 10px;
  input, select, option {
    display: block;
    outline: none;
    width: 100%;
    height: 39px;
    background: #fff;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    color: #333;
    font-size: 13px;
    line-height: 16px;
    max-width: 375px;
    padding: 8px 10px 11px;
    margin: 0 0 25px;
  }
  label {
    display: block;
    margin: 0 4px 12px;
  }
  mark {
    color: #b22c30;
    background:none;
  }
  textarea {
    display: block;
    width: 100%;
    max-width: 675px;
    padding: 10px;
    outline: none;
    background: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    color: #333;
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 25px;
    height: 230px;
    resize: none;
  }
  button {
    background-color: #fff;
    color: #333;
    font-size: 13px;
    line-height: 16px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    padding: .5rem 1rem;
    cursor: pointer;
    &:hover {
      border: 1px solid #3e3e3e;
      color: #000;
    }
  }
}
