.header-section {
  background: $black;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  #submit {
    position: absolute;
    right: 30px;
    top: 85px;
    padding: 0;
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
  .ads {
    text-align: center;
    background: $darker;
    border-bottom: 1px solid $dark;
    height: 70px;
    &.top-banner {
      background: url(../../../public/images/pattern.jpeg);
      background-position: 2px -80px;
    }
  }
}