.content {
  position: relative;
  padding: 0 17px;
  .video-player {
    position: relative;
    margin: 0 0 13px;
    width: 100%;
  }
  video{
    width: 100%;
  }

  .content-heading{
    padding: 0 0 13px;
    h1{
      display: inline;
      margin: 0;
      vertical-align: top;
      font: bold 1.462em/1.105em Tahoma, Arial, sans-serif;
    }
  }
}