
.navbar {
  padding: 13px 0 12px;
  .nav-item {
    padding: 0;
    //margin: 8px 0;
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
    .nav-link {
      color: $white;
      text-transform: uppercase;
      font-size: 100.01%;
      &:hover {
        color: $red;
      }
    }
  }
  .search-control {
    width: 303px;
    border-radius: 18px;
    border: none;
    outline: none;
    font: 13px/16px Verdana, Arial, sans-serif;
    padding: 8px 11px 7px;
    height: 34px;
    color: #404040;
  }
  .navbar-nav {
    min-width: 310px;
    text-align: center;
    justify-content: center;
  }

  .social-networks {
    padding: 7px 0 0 7px;
    margin: 0;
    list-style: none;
    width: 158px;
    text-align: center;
    font-size: 0;
    line-height: 0;
    letter-spacing: -5px;
    float: right;
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 12px 4px;
      a {
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        width: 24px;
        height: 24px;
        background: url("../../../../public/img/sprite.png") no-repeat;
      }
    }
    .twitter a{
      width: 20px;
      height: 16px;
      background-position: -18px -2px;
    }
    .facebook a{
      width: 10px;
      height: 20px
    }
    .instagram a{
      width: 20px;
      height: 20px;
      background-position: -108px -95px;
    }

  }
}
.footer{
  .navbar{
    padding: 5px 20px;
  }
  .logo{
    margin-left: 50px;
  }
}