
.navbar {
  padding: 13px 0 12px;
  .logo {
    padding: 5px;
  }
  .navbar-brand {
    img {
      width: 120px;
      height: 20px;
    }
  }
  .nav-item {
    padding: 0;
    //margin: 8px 0;
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
    .nav-link {
      color: $white;
      text-transform: uppercase;
      font-size: 100.01%;
      &:hover {
        color: $red;
      }
    }
  }
  .form-inline{
    display: flex;
    max-width: 600px;
    flex-grow: 1;
  }

  .nav-link{
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;

  }
  .search-control {
    width: 100%;
    border-radius: 18px;
    border: none;
    outline: none;
    font: 13px/16px Verdana, Arial, sans-serif;
    padding: 8px 11px 7px;
    height: 34px;
    color: #404040;
  }
  .navbar-nav {
    min-width: 310px;
    text-align: center;
    justify-content: center;
  }
  .right-nav {
    flex-wrap: wrap;
    justify-content: space-around;
    .social-networks {
      padding: 7px 0 0 7px;
      margin: 0;
      list-style: none;
      min-width: 158px;
      text-align: center;
      font-size: 0;
      line-height: 0;
      letter-spacing: -5px;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 12px 4px;
        a {
          display: block;
          text-indent: -9999px;
          overflow: hidden;
          width: 24px;
          height: 24px;
          background: url("../../../../public/img/sprite.png") no-repeat;
        }
      }
      .twitter a {
        width: 20px;
        height: 16px;
        background-position: -18px -2px;
      }
      .facebook a {
        width: 10px;
        height: 20px
      }
      .instagram a {
        width: 20px;
        height: 20px;
        background-position: -108px -95px;
      }

    }
  }

  .nabvar\-toggler .icon-bar{
    background: white;
  }
}

.footer {
  .navbar {
    padding: 5px 20px;
  }
  .logo {
    padding: 2px;
  }


}