<modal name="addCategory"
       width="50%"
       height="auto"
       :pivot-x=".5"
       :pivot-y=".5"
       classes="">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Add Category</h4>
        </div>
        <div class="card-body">
            <form action="/users" @submit.prevent="store">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Category name</label>
                            <input type="text"
                                   v-model="category.name"
                                   required
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit"
                            class="btn btn-primary">Submit
                    </button>
                    <button @click="$modal.hide('addCategory')" type="button" class="btn btn-default">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</modal>