@media (min-width: 300px) and (max-width: 520px) {
  .navbar {

    .search-control {
      width: 130px;
      height: 18px;
      padding: 6px;
    }

    .logo{
      padding:2px;
      img{
        width:80px;
        height:20px;
      }
    }

    .form-inline {
      flex-grow: 0;
    }
    .nav-link{
      padding:3px;
    }

  }

}



@media (min-width: 520px) and (max-width: 720px) {
  .navbar {

    .search-control {
      margin:0 auto;
      width: 300px;
      height: 25px;
      padding: 6px;
    }

    .logo{
      width:140px;
      padding:1px;
    }

    .form-inline {
      flex-grow: 1;
    }
    .nav-link{
      padding:3px;
    }

  }

}