@import "featured-videos";
@import "video";
@import "heading";


.only-mobile{
  display: none;
  visibility: hidden;
}

@media (min-width: 300px) and (max-width: 720px) {
  .only-desktop {
    display: none;
    visibility: hidden;
  }

  .carousel-section {
    display: none;
    visibility: hidden;
  }

  .only-mobile{
   display: flex;
    visibility: inherit;
  }
}