<modal  name="confirmDelete"
        width="50%"
        height="auto"
        :pivot-x=".5"
        :pivot-y=".5"
        classes="">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Caution</h4>
            <p class="card-category">are you sure</p>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-danger">Confirm</button>
                <button @click="$modal.hide('confirmDelete')" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</modal>