<modal name="confirmMessage"
       width="50%"
       height="auto"
       :pivot-x=".5"
       :pivot-y=".5"
       classes="">
    <div class="card">
        <div class="card-header card-header-danger">
            you are going to delete this message, are you sure ?
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-2">
                <div class="d-flex">
                    <span class="mr-1">From:</span>
                    <span class="text-muted"
                          v-text="message.sender"></span>
                </div>
                <span>{{message.updated_at|ago}}</span>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button"
                        @click="destroy(message)"
                        class="btn btn-danger">Confirm</button>
                <button @click="$modal.hide('confirmMessage')"
                        type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</modal>