<modal name="videoPlay"
       width="50%"
       height="auto"
       :pivot-x=".5"
       :pivot-y=".5"
       classes="">
    <div class="card">
        <div class="card-header card-header-info">
            <h4 class="card-title">Video Player</h4>
        </div>
        <div class="card-body">
            <template v-if="shouldPlayVideo && shouldPlayVideo.player == 0">
                <video class="video-js vjs-default-skin"
                       controls
                       autoplay
                       :src="'/videos/'+shouldPlayVideo.url"
                       width="640" height="264">
                </video>
            </template>
            <template v-if="shouldPlayVideo && shouldPlayVideo.player == 1">
                <iframe height="370"
                        width="100%"
                        :src="'https://youtube.com/embed/'+ getVideoId(shouldPlayVideo.url)"
                        frameborder="0"
                        allowfullscreen></iframe>
            </template>
            <div class="text-center">
                <h6 v-text="shouldPlayVideo.title"></h6>
                <p class="text-muted" v-text="shouldPlayVideo.description"></p>
            </div>
        </div>
    </div>
</modal>