<html>
<head>

    <title>EDMS</title>

    <link href="css/app.css" rel="stylesheet">

    <link href="img/brand/favicon.png" rel="icon" type="image/png">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <link href="fonts/nucleoIcons/css/nucleo.css" rel="stylesheet">
    <link href="fonts/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="main-content" id="app">
    <section class="section section-shaped section-lg my-0">
        <div class="shape shape-style-1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>

    <div class="container pin-center">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
