<div class="sidebar-wrapper">
    <ul class="nav">
        <%if(locals.user.role_id != 2){%>
        <li class="nav-item">
            <a class="nav-link" href="/admin">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/admin/users">
                <i class="material-icons">person</i>
                <p>Users</p>
            </a>
        </li>
        <%}%>
        <li class="nav-item ">
            <a class="nav-link" href="/admin/requests">
                <i class="material-icons">content_paste</i>
                <p>Requests</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/admin/videos">

                <i class="material-icons">video_library</i>
                <p>Videos</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/admin/messages">
                <i class="material-icons">message</i>
                <p>Messages</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/admin/categories">
                <i class="material-icons">category</i>
                <p>Categories</p>
            </a>
        </li>
        <%if(locals.user.role_id !=2){%>
        <li class="nav-item ">
            <a class="nav-link" href="/admin/featured">
                <i class="material-icons">featured_video</i>
                <p>Featured</p>
            </a>
        </li>
        <%}%>
    </ul>
</div>